<div th:replace="shared/header"></div>

<div class="box">

    <div class="box-body" sec:authorize='hasRole("ROLE_ADMIN")'>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>                    
                    <th>Name</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="activity:${salaries}">
                    <td th:text="${activity.userId}"></td>
                    <td th:text="${activity.userName}"></td>
                    <td th:text="${activity.amount}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="box" sec:authorize="hasRole('ROLE_USER')">

    <div class="box-body">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>                    
                    <th>Name</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="activity:${userSalaries}">
                    <td th:text="${activity.userId}"></td>
                    <td th:text="${activity.userName}"></td>
                    <td th:text="${activity.amount}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div th:replace="shared/footer"></div>