<div th:replace="shared/header"></div>

<div class="box">
    <div class="box-header with-border">
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'/'+${pageURI}+'/create'}" title="Add new Activity">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>

    <div class="box-body">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Employee Name</th>
                    <th>Task</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="activity:${dailyActivities}">
                    <td th:text="${activity.id}"></td>
                    <td th:text="${activity.workingDate}"></td>
                    <td><table><tr>
                                <td th:text="${activity.user.firstName}"></td>
                                <td th:text="${activity.user.lastName}"></td>
                     </tr></table></td>
                    <td th:text="${activity.task.name}"></td>
                    <td th:text="${activity.quantity}"></td>
                    <td th:text="${activity.amount}"></td>
                    <td>
                        <a sec:authorize='hasRole("ROLE_ADMIN")' th:href="@{'/'+${pageURI}+'/edit/'+${activity.id}}" title="Edit Details">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a sec:authorize='hasRole("ROLE_ADMIN")' th:href="@{'/'+${pageURI}+'/delete/'+${activity.id}}" onclick="return confirm('Are you sure to delete?')" title="Remove Details">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div th:replace="shared/footer"></div>