<div th:replace="shared/header"></div>

<div class="box">
    <div class="box-header with-border">
        <a sec:authorize='hasRole("ROLE_ADMIN")' th:href="@{'/'+${pageURI}+'/create'}" title="Add new Employee">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>

    <div class="box-body">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>email</th>
                    <th>Contact</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th sec:authorize='hasRole("ROLE_ADMIN")'>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="record:${records}">
                    <td th:text="${record.id}"></td>
                    <td th:text="${record.firstName}"></td>
                    <td th:text="${record.lastName}"></td>
                    <td th:text="${record.email}"></td>
                    <td th:text="${record.contactNo}"></td>                    
                    <td th:text="${record.address}"></td>
                    <td>
                        <span th:if="${record.status}" class="label label-success">Active</span>
                        <span th:if="${!record.status}" class="label label-danger">Inactive</span>
                    </td>
                    <td sec:authorize='hasRole("ROLE_ADMIN")'>
                        <a th:href="@{'/'+${pageURI}+'/edit/'+${record.id}}" title="Edit Employee Details">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a th:href="@{'/'+${pageURI}+'/delete/'+${record.id}}" onclick="return confirm('Are you sure to delete?')" title="Remove Employee">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a><a th:href="@{'/'+${pageURI}+'/activity/'+${record.id}}" title="Activity Details">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </a>
                    </td>
                </tr>
                </c:forEach>
            </tbody>
        </table>
    </div>
</div>


<div th:replace="shared/footer"></div>